* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.HomePageSection {
  display: flex;
  min-height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.HomePageSection h1 {
  font-weight: 400;
  margin: 10px 0;
}
.mybutton a {
  color: #fff;
  text-decoration: none;
}

@import "../components/forms/styles/fromStyle";
