.ProfileSection {
  margin-top: 20px;
  form {
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);
    padding: 30px;
    .ProfileFromGroup {
      text-align: center;
    }
  }
  .updatedsuc{
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .div{
      margin-bottom: 20px;
    }
  }
}
